.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.emphasis {
    font-weight: bolder;
}

.word-badge {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 6px 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.word-badge:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.disable-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: not-allowed;
}

.black-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.black-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.black-large-full-button {
    border-radius: 46px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.black-large-full-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.white-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 46px;
    width: 93px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.white-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.icon-box-small {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.icon-box-large {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.icon-button {
    border-radius: 50% 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.icon {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.eye-light-off-icon {
    background-image: url(assets/images/eye-light-off.png);
}

.eye-light-on-icon {
    background-image: url(assets/images/eye-light-on.png);
}

.expand-right-light-icon {
    background-image: url(assets/images/expand-right-light.png);
}

.expand-left-icon {
    background-image: url(assets/images/expand-left.png);
}
.expand-right-icon {
    background-image: url(assets/images/expand-right.png);
}

.logo-light-icon {
    background-image: url(assets/images/logo-light.png);
}

.insta-icon {
    background-image: url(assets/images/insta.png);
}

.naver-blog-icon {
    background-image: url(assets/images/naver-blog.png);
}

.logo-dark-icon {
    background-image: url(assets/images/logo-dark.png);
}

.search-light-icon {
    background-image: url(assets/images/search-light.png);
}

.check-round-fill-icon {
    background-image: url(assets/images/check-round-fill.png);
}

.check-ring-light-icon {
    background-image: url(assets/images/check-ring-light.png);
}

.image-box-light-icon {
    background-image: url(assets/images/image-box-light.png);
}

.close-icon {
    background-image: url(assets/images/close.png);
}

.more-icon {
    background-image: url(assets/images/more.png);
}

.favorite-fill-icon {
    background-image: url(assets/images/favorite-fill.png);
}

.favorite-light-icon {
    background-image: url(assets/images/favorite-light.png);
}

.up-light-icon {
    background-image: url(assets/images/expand-up-light.png);
}

.down-light-icon {
    background-image: url(assets/images/expand-down-light.png);
}

.comment-icon {
    background-image: url(assets/images/chat-light.png);
}

.edit-icon {
    background-image: url(assets/images/edit-light.png);
}

.image-box-white-icon {
    background-image: url(assets/images/image-box-white-light.png);
}

.arrow-right-icon {
    background-image: url(assets/images/arrow-right.png);
}
